.ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn span{
    font-size: 20px;
    font-weight: 500;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: black;
    display: flex;
    align-items: center;
}
.ant-tabs-tab-btn:hover{
    color: #595959;
}
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-btn:active {
  color: black; 
}
.ant-tabs-ink-bar {
    background: black !important; 
}
.ant-input-affix-wrapper {
    height:60px;
    width:800px;
    border-radius:30px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
}
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:hover{
    border-color: black !important;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) !important;
}   
.ant-input-affix-wrapper .ant-input-prefix{
    font-size:25px;
}